.container {
    width: 90%;
    max-width: 850px;
    font-size: 1.2em;
}

@media only screen and (max-width : 768px) {
    .container {
        font-size: 1em;
    }
}

.footer {
    margin-top: 3em;
    margin-bottom: 3em;
    color: gray;
    font-size: 0.8em;
    text-align: center;
}

.footer a {
    color: gray;
}

.logo {
    margin-top: 3em;
    margin-bottom: 3em;
}

.logo-img {
    max-width: 100%;
}

.last-update {
    text-align: right;
    color: gray;
    font-size: 0.8em;
}

.services-container {
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.services-section .service-container {
    padding: 20px;
    border: 0px solid #eee;
    border-bottom-width: 1px;
}

.service-container:hover {
    background-color: #f3f3f3;
}

.service-name {
    margin-left: 5px;
}

.service-status {
    float:right;
    margin-right: 10px;
}

@media only screen and (max-width : 450px) {
    .service-status {
        display: none;
    }
}

.service-container .icon-indicator {
    float: right;
    position: relative;
    top: 4px;
    right: 0;
}

.service-icon {
    vertical-align: middle;
    max-height: 15px;
    max-width: 15px;
    position: relative;
    bottom: 1px;
}

.status-green .icon-indicator, .status-green a {
    color: green;
}

.status-red .icon-indicator, .status-red a {
    color: #f43f20;
}

.status-blue .icon-indicator, .status-blue a {
    color: #3498DB;
}

.status-orange .icon-indicator, .status-orange a {
    color: #f18500;
}

.status-yellow .icon-indicator, .status-yellow a {
    color: #f1c40f;
}

.status-gray .icon-indicator, .status-gray a {
    color: gray;
}

.clickable {
    cursor: pointer;
}
