<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Is Service Up? Monitor the status of your cloud services</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" />
    <link href="/favicon.ico" rel="shortcut icon">
    <meta name="description" content="isServiceUp lets you easily view the status of your cloud services in one page">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{config.GA_CODE}}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<div class="container">
    <div class="row logo">
        <div class="col-lg-12">
            <img class="logo-img" src="/images/logo.png" title="isServiceUp" height="60" />
            <!--<h1>Monitor the status of your cloud services</h1>-->
        </div>
    </div>
    <div class="services-section">
        <div class="services-container one-column" id="services">
            {% for service in services %}
            <div class="service-container border-color" data-status="{{service.status}}" data-location="{{service.status_page_url}}">
                <div class="service-inner-container status-{{service.status_color}}">
                    <img class="service-icon" src="{{service.icon_url}}" title="{{service.name}}"/>
                    <span class="service-name">{{service.name}}</span>
                    <span class="icon-indicator fa {{service.status_icon}}"></span>
                    <span class="service-status hidden-xxs"><a href="{{service.status_page_url}}">{{service.status_human}}</a></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="last-update">
        Last update: <span class="last-update-seconds">{{last_update}}</span> seconds ago
    </div>

    <div class="legend visible-xxs">
        <ul class="legend-list">
            <li class="status-green"><span class="icon-indicator fa fa-check"></span> <span class="status-description">Operational</span></li>
            <li class="status-yellow"><span class="icon-indicator fa fa-minus-square"></span> <span class="status-description">Degraded Performance</span></li>
            <li class="status-orange"><span class="icon-indicator fa fa-exclamation-triangle"></span> <span class="status-description">Partial Outage</span></li>
            <li class="status-red"><span class="icon-indicator fa fa-times"></span> <span class="status-description">Major Outage</span></li>
            <li class="status-blue"><span class="icon-indicator fa fa-wrench"></span> <span class="status-description">Maintenance</span></li>
            <li class="status-gray"><span class="icon-indicator fa fa-question"></span> <span class="status-description">Unavailable Status</span></li>
        </ul>
    </div>

    <div class="footer">
        <a href="https://github.com/marcopaz/is-service-up">Fork me on GitHub <span class="fa fa-github"></span></a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/main.js"></script>
</body>
</html>
